/*ToDoList
========
Making a ToDoList in AngularJS*/

@charset "UTF-8";
/* CSS Document */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

/*=========CSS START============*/
    /*---RANDOM----*/
body{
background-image: url('../img/footer_lodyas.png');
}


.wrapper{
    margin-left:  auto;
    margin-right:  auto;
    border: 3px #fff solid;
    width: 300px;
    margin-top: 100px;
    padding: 15px;
    border-radius: 2px;
}


/*===========FONTS==========*/
@font-face {
	font-family:'ConfettiFalling';
    src: url('ConfettiFalling-webfont.otf');
    src: url('ConfettiFalling-webfont.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
	font-family:'Bebas Neue';
    src: url('BebasNeue-webfont.otf');
    src: url('BebasNeue-webfont.ttf')  format('truetype'); /* Safari, Android, iOS */
}




/*===========RESULT FIELD==============*/
h1 {
    font-family: 'bebas neue';
    font-size: 30px;
    color: #fff;
}

h2{
    font-family: 'bebas neue';
    font-size: 20px;
    color: #fff;
    padding-bottom: 10px;
}


/*===========ADD BUTTON=========*/
.add-btn {
	background-color:#768d87;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#20590b;
	font-family:'bebas neue';
	font-size:18px;
	padding:8px 18px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2b665e;
    height: 40px;
}
.add-btn:hover {
	background-color:#6c7c7c;
}
.add-btn:active {
	position:relative;
	top:1px;
}



/*===========TEXTFIELD AND BUTTON=============*/
.AddContent{
    font-family: 'ConfettiFalling';
    border-radius: 5px;
    width: 150px;
    color: #000;
    margin-top: 10px;
    margin-bottom: 5px;
}

.clear-btn {
	background-color:#768d87;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#800505;
	font-family:arial;
	font-size:19px;
	padding:8px 16px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2b665e;
    margin-top: 6px;
    font-family: 'bebas neue';
}
.clear-btn:hover {
	background-color:#6c7c7c;
}
.clear-btn:active {
	position:relative;
	top:1px;
}

.donefont{
    font-family: 'ConfettiFalling';
    color: #fff;
    font-size: 25px;
}

.author p{
    color: #595959;
    padding-top: 10px;
    padding-left: 100px;
}


