<!DOCTYPE html>
<html ng-app lang="en"> <!--Angular app start-->
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script> <!--ANGULAR LINK-->
    <!-- SCRIPTS-->
    <script src="ToDo.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="css/default.css" type="text/css" media="all"/>  
    
    <title>ToDoList</title>
</head>

<body>
<div class="wrapper" ng-controller="ToDoCtrl">
        <div class="container">
           <div class="row">
                <div class="col-md-12 result">
                <h1>Things to do</h1>
                <h2>You've
                <span class="emphasis">{{getTotalTodos()}}</span>    <!--ToDo resultat-->
                things to do this day.</h2>
                <ul>
                    <li ng-repeat="todo in todos">
                       <input type="checkbox" ng-model="todo.done">
                        <span class="done-{{todo.done}} donefont">{{todo.text}}</span>
                    </li>
                </ul>
                </div> 
                <div class="col-md-12 ">
                <!--Form starter-->
                <form>
                    <input class="AddContent" placeholder="Type your Todo" type="text" ng-model="formTodoText" ng-model-instant/>
                </form>
                </div>
                
                <!--Slet knappen-->
                <div class="col-md-12">
                <button class="add-btn" ng-click="addTodo()">
                    Add to list
                    </button>
                <button class="clear-btn" ng-click="clearCompleted()">Clear completed</button>
                 </div>
           </div>
        </div>
</div>

</body>
</html>
